:root {
    --title-font-size:24px;
    --author-font-size:14px;
    --poem-font-size:16px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#title {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 900;
    display: block;
}

#author {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Noto Serif JP', serif;
    font-style: italic;
    display: block;
}

.poem {
    white-space:pre-wrap;
    font-size: 16px;
    display: block;
    padding: 20px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}

img {
    filter: grayscale(100%);
    height: 250px;
    padding: 15px;

}

#poem-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3%;
    align-items: center;
    height: 100vh;
}

.panel {
    padding: 20px;
    max-width: 450px;
}

.panel:not(:first-child) {
    padding-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
}

.fa-heart {
    font-size: 2em;
    color: #cc241d;
    margin-right: 60px;
    margin-bottom: 40px;
}

.fa-heart, .fa-redo-alt:hover {
    cursor: pointer;
}

.fa-redo-alt {
    font-size: 2em;
    color: lightgrey;
    margin-right: 60px;
    margin-bottom: 40px;
}
