html {
    font-family: 'Noto Serif JP', serif;
}

#popup {
    width: 400px;
    height: 400px;
    overflow-y: scroll;
    font-family: 'Noto Serif JP', serif;
}

input {
    border-radius: 25px;
    margin-top: 30px;
    width: 90%;
    height: 30px;
    border-color: #f2f2f2;
    border-style: solid;
    font-size: 16px;
    margin: 30px 0 auto 25px;
    padding-left: 10px;
    padding-right: 10px;
}

input:hover {
    box-shadow:0 0 10px lightgrey;
}

input:focus {
    outline: none;
}


.fa-search {
    color:lightgrey;
    margin-top: 40px;
    position: relative;
    left: -30px;
}

#search-bar {
    display: block;
}

.thumbnail {
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    display: block;
    width: 80%;
    margin: 10px auto;

}

.title {
    display: block;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
}

.author {
    text-align: right;
    font-size: 12px;
    right: 30px;
    position: relative;
    bottom: 10px;
    font-style: italic;
    color: grey;
}

#nav {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    width: 2em;
    height: 30px;
    margin: auto;
}

.fa-heart {
    font-size: 2em;
    color: #cc241d;
}

.fa-comment-dots {
    font-size: 2em;
    color: grey;
}

.fa:hover {
    cursor: pointer;
}

.delete-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fa-trash-alt {
    font-size: 2em;
    color: lightgrey;
}

.poem-detail-author {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}
.poem-detail-title {
    display: block;
    margin-top: 10px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.poem-detail-lines {
    display: block;
    white-space:pre-wrap;
    padding: 5px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.contact-box {
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

a:link {
    color: black;
}

a:visited {
    color: #b16286;
}
